# INSTAChat Web Environment Variables
VITE_FIREBASE_API_KEY=AIzaSyCjShUCZutExsdZC3Gw-fWtMGP_ggOoC_Q
VITE_FIREBASE_AUTH_DOMAIN=battlechat-5329e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=battlechat-5329e
VITE_FIREBASE_STORAGE_BUCKET=battlechat-5329e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=800187924567
VITE_FIREBASE_APP_ID=1:800187924567:web:4cfbd607ebcb887ba26312

VITE_CLOUDINARY_CLOUD_NAME=jdkg4l75
VITE_CLOUDINARY_UPLOAD_PRESET=battlechat_upload

VITE_DEVELOPER_NAME=Arjan
VITE_DEVELOPER_PORTFOLIO=https://arjanahmad.website/
